th, td, p, input {
    font:14px Verdana;
}
table {
    border-spacing: 0;
    width: 50%;
    border: 1px solid #000;
    margin-left: 350px;
  }
  
  th, td {
    text-align: left;
    padding: 16px;
  }
 .eye-color {
   content: '';
 }
  
  
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
.about {
    -webkit-line-clamp: 2;
    height: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 3px;
} 


.form-wrapper{
  border: 1px solid black;
  position: absolute;
  padding: 10px;
  display: none;
}

.form p{
  margin: 10px;
}

.form input {
  float: right;
}

.btn-hidden_all{
  margin: 10px 10px;
  padding: 5px 10px; 
}

.btn-hidden{
  position: relative;
  padding: 5px 20px;
}
.hidden-column{
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 15%;
  right: 0;
}

.hidden-column[data-hidden = 'off']{
  content: url('./view-30.png');
}

.hidden-column[data-hidden = 'on']{
  content: url('./hidden-30.png');
}

.hidden-1 .data-row td:nth-child(1),
.hidden-1 tr th:nth-child(1){
  display: none;
}

.hidden-2 .data-row td:nth-child(2),
.hidden-2 tr th:nth-child(2){
  display: none;
}

.hidden-3 .data-row td:nth-child(3),
.hidden-3 tr th:nth-child(3){
  display: none;
}

.hidden-4 .data-row td:nth-child(4),
.hidden-4 tr th:nth-child(4){
  display: none;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.pagination-number {
  width: 17px;
  margin-left: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.pagination-number:active {
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
}

.current-pagination {
  color: rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
}